.taskbarIcon {
    position: relative;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    padding-inline-start: var(--r95-space-6) !important;
    margin: 0;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    color: var(--r95-color-materialText, #000);
}

.taskbarIcon img {
  width: 32px;
  height: 32px;
  margin-right: var(--r95-space-10);
  min-width: var(--r95-space-16);
}